<!DOCTYPE html>

<!-- Ref: http://www.mkyong.com/spring-boot/spring-boot-spring-security-thymeleaf-example/
     Ref: https://getbootstrap.com/docs/4.0/examples/navbar-fixed/
-->

<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:fragment="header-css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.2/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    </div>
</head>
<body>
    <nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <a class="navbar-brand" th:href="@{/}">KYC Buddy</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/myclients}"> My Clients</a>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/register}">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>