body {
    background-color: powderblue;
}

h1{
	color:#CEF6F5;
        font-family: Arial, serif;
}

h2{
	color:#0404B4;
        font-family: Arial, serif;
}



body { 
    padding-top: 65px; 
}

footer{
    margin-top:60px;
   
}