<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>KYC Buddy</title>
        <div th:replace="fragments/header :: header-css"/>
    </head>
    <body>

        <div th:replace="fragments/header :: header"/>

        <div class="container">

            <div class="template">
                <h1>KYC Buddy</h1>
                <h2>Information about what kyc buddy is.................................</h2>
                <h2>All the information </h2>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"/>

    </body>
</html>