<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>KYC Buddy New Client</title>
        <div th:replace="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>
        <div class="container">
            <div class="row">
                <div
                    class="col-xs-12 col-sm-8 col-md-6 mx-auto">
                    <h1>New Client Registration</h1>

                    <form autocomplete="off" action="#" th:action="@{/addclient}"
                          th:object="${client}" method="post" class="m-t" role="form"
                          data-toggle="validator">

                        <div th:if="${confirmationMessage}" class="alert alert-success"
                             role="alert" th:text=${confirmationMessage}></div>

                        <div th:if="${errorMessage}" class="alert alert-danger"
                             role="alert" th:text="${errorMessage}"></div>

                        <div th:if="${#fields.hasErrors('clientname')}"
                             th:errors="*{clientname}"
                             class="validation-message alert alert-danger" role="alert"></div>

                        <div class="form-group input-group has-feedback">
                            <label th:if="${#fields.hasErrors('clientname')}"
                                   th:errors="*{clientname}" class="validation-message"></label> <span
                                   class="input-group-addon"> <span
                                    class="glyphicon glyphicon-user"></span>
                            </span> <input type="text" th:field="*{clientname}"
                                           placeholder="Client Name" class="form-control" required /> <span
                                           class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>


                        <div class="form-group input-group has-feedback">
                             
                                <label class="form-control" for="clienttype">Select Client Type </label>
                                <select th:field="*{clienttype}">
                                    <option value="Private/Individual"> Private/Individual</option>
                                    <option value="Limited"> Limited/DAC </option>                                    
                                    <option value="Partnership"> Partnership </option>  
                                    <option value="Listed"> Listed </option>
                                    <option value="SubOfListed"> Sub Of Listed </option>   
                                    <option value="Regulated"> Regulated </option>
                                    <option value="SubOfRegulated"> Sub Of Regulated </option>   
                                </select> 
                        </div>
                        <div class="form-group input-group has-feedback">
                             
                                <label class="form-control" for="Country">Select Clients Country </label>
                                <select th:field="*{country}">
                                    <option value="Ireland"> Ireland</option>
                                    <option value="UK"> UK </option>                                    
                                    <option value="USA"> USA </option>  
                                    <option value="EU"> EU Regulated </option>
                                    <option value="Other"> Other </option>                                    
                                </select> 
                        </div>


                        <button type="submit" class="btn btn-primary block full-width m-b">Add</button>
                    </form>
                </div>
            </div>
        </div>    
        <div th:replace="fragments/footer :: footer"/>
    </body>

</html>