<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>KYC Buddy</title>
        <div th:replace="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>
        <div class="container">
            <div class="template"> 
                <h1>Welcome to KYC Buddy!</h1>
                <h2>What is KYC Buddy?</h2>
                <h3>The Know Your Client/Customer Buddy has been set up by professionals with a working background and knowledge of Anti-Money Laundering (AML) 
                    rules and regulations within financial services and law firms. 
                    It is a useful tool for those working within AML and Compliance roles to assist with AML requirements.
                    Users can log on to add new clients, upload files of the required documentation and keep up to date with the standard requirements.</h3>
              </div>
        </div>
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>