<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KYC Buddy</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">


    <div class="template">
       
        <h2>KYC buddy home page......</h2>
            <h2>about what kyc buddy is.................................</h2>
        <h2>All the information </h2>
    </div>
</div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>