<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>KYC Buddy</title>


        <div th:replace="fragments/header :: header-css"/>

    </head>
    <body>

        <div th:replace="fragments/header :: header"/>

        <div class="container">
            <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]'s
                Client list!</h1>

            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Client name</th>
                        <th scope="col">Client type</th>
                        <th scope="col">Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="client : ${clients}">
                        <td th:text="${client.clientname}">Name</td>
                        <td th:text="${client.clienttype}">Type</td>
                        <td th:text="${client.country}">Country</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <form class="col-xs-3 col-sm-3 col-md-3" th:action="@{/files}" method="get">
                <input  class="btn btn-lg btn-primary btn-block" type="submit" value="Client File"/>
            </form>  
        </div>
        <div>
            <form class="col-xs-3 col-sm-3 col-md-3" th:action="@{/addclient}" method="get">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Add New Client"/>
            </form>  
        </div>

        <form  class="col-xs-3 col-sm-3 col-md-3"th:action="@{/logout}" method="post">
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Out"/>
        </form>                          
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>
