<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <title>KYC Buddy</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>My clients</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        
        <table>
            <tr th:each="client : ${clients}">
                <td th:text="${client.clientId}">Id</td>
                <td th:text="${client.clientname}">Name</td>
            </tr>
 </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>  
    </div>
        </table>


   
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
