<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <title>KYC Buddy</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

    <body>
        <div> <h1>Success! You have registered a new user</h1></div>
        <div> 
            <h2> As a new user you may add new clients to the database </h2>
                 <h2> Now you can sign in as a User!  <a th:href="@{/login}"> Login </a></h2>
        </div>

    </body>
</html>
