<!-- Ref @29/07/2018 : https://o7planning.org/en/11659/thymeleaf-form-select-option-example--> 

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Upload service</title>
        <div th:replace="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>
        <div class="container"> 
            <div class="row">
                <div
                    class="col-xs-12 col-sm-8 col-md-6 mx-auto">
                    <h1>New File Upload</h1>
                    <form autocomplete="off" action="#" th:action="@{/upload}"
                          th:object="${dbfile}" method="post" enctype="multipart/form-data" class="m-t" role="form"
                          data-toggle="validator">
                        <div class="form-group input-group has-feedback">

                            <div class="form-group col-md-6">
                                <label for="SelectClient">Select client  </label>
                                <select class="form-control form control-lg" th:field="*{client}">
                                    <option value=""> -- </option>
                                    <option th:each="client : ${clients}"
                                            th:value="${client.clientname}"
                                            th:utext="${client.clientname}"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-group input-group has-feedback">

                            <div class="form-group col-md-6">
                                <label for="SelectFileCategory">Select File Category  </label>
                                <select class="form-control form control-lg" th:field="*{fileCategory}">
                                    <option value="CertOfIncorp"> Cert. of Incorp.</option>
                                    <option value="ListDirectors"> List of Directors </option>                                    
                                    <option value="ID&VDirectors"> ID&V of Directors </option>  
                                    <option value="BeneficialOwnership"> Beneficial Ownership</option>
                                    <option value="StructureChart"> Structure Chart </option>                                    
                                    <option value="ID&VShareholders"> ID&V of Shareholders </option>  
                                </select>
                                </td>
                            </div>
                        </div>

                        <div class="form-group input-group has-feedback">
                            <div class="form-group col-md-6">
                                <input type="file" name="file" />
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-primary block full-width m-b">Add File</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>    
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>